* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: rgb(221, 74, 84);
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.5);
}

.fa-shopping-cart {
    margin-left: 20px;
    cursor: pointer;
    color: white;
}


#badge {
    border-color: blue;
    display: block;
    position: absolute;
    top: -.75em;
    right: -50px;
    width: 2em;
    height: 2em;
    line-height: 2em;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    margin-top: 70px;
    padding: 20px;
}

.grid > article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
}

.grid > article img {
    max-width: 100%;
}

.text {
    padding: 0 5px 5px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container > button {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 20%;
    height: 20%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.container-article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.toolbar-basket {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(221, 74, 84);
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
    color: white;
}

.container-count {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}


.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    width: 0;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

img {
    border-radius: 50%;
}

.openModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    content: '';
    z-index: 1;
    display: none;
}
